{% extends "layout.html" %}

{% block title %} {{ _("Create Quiz") }} {% endblock %}

{%block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/create.css') }}" /> {% endblock %}

{% block content %}
<main>
  <div class="container">
    <h1>{{ _("Create a new Quiz") }}</h1>
  </div>
  <form method="POST" action="{{url_for('create')}}">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for msg in messages %}
    <p class="msg">{{msg}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="form-group">
      <label for="title">{{ _("Quiz Title") }}</label>
      <input type="text" id="title" name="title" placeholder="{{ _('Ex: History Quiz') }}" required />
    </div>
    <div class="form-group">
      <label for="category">{{ _("Category") }}</label>
      <select id="category" name="category" required>
        <option value="" selected>{{ _("Select Category") }}</option>
        {% for category in categories %}
        <option value="{{category}}">{{ _(category) }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="description">{{ _("Description") }}</label>
      <textarea id="description" name="description" rows="3" maxlength="148"></textarea>
    </div>
    <div class="form-group">
      <label>{{ _("Insert a Image URL (Optional)") }}</label>
      <input type="text" name="image" placeholder="{{ _('Ex: https://site.com/image.jpg') }}" />
    </div>

    <h2>{{ _("Add Questions") }}</h2>

    <div class="question-block">
      <div class="form-group">
        <label>{{ _("Question type") }}</label>
        <select name="question-type" class="question-type" required>
          <option value="multiple">{{ _("Multiple Choices") }}</option>
          <option value="boolean">{{ _("True or False") }}</option>
          <option value="text">{{ _("Open Answer") }}</option>
        </select>
      </div>

      <div class="form-group">
        <label>{{ _("Question") }}</label>
        <input type="text" name="question-text" id="question-text" class="question-input"
          placeholder="{{ _('Type your question...') }}" />
      </div>
      <button type="button" class="btn btn-add" id="btn-add">
        {{ _("Add Question") }}
      </button>
    </div>
    <div id="questions-container"></div>
    <br /><br />
    <button type="submit" class="btn btn-save">{{ _("Save Quiz") }}</button>
    <input type="hidden" name="questions_json" id="questions-json">
  </form>
</main>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="/static/js/script.js"></script>
{% endblock %}