    {% extends "layout.html" %}

    {% block content %}
    <main>
      <div class="container">
        <h1>Create a new Quiz</h1>
      </div>
      <form method="POST" action="{{url_for('create')}}">
        <div class="form-group">
        <label for="title">Quiz Title</label>
        <input type="text" id="title" name="title" placeholder="Ex: History Quiz" required/>
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <select id="category" name="category">
          <option value="" selected>Select Category</option>
          {% for category in categories %}
          <option value="{{category}}">{{category}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" name="description" rows="3" maxlength="148"></textarea>
      </div>
      
      <h2>Question</h2>
      
      <div class="question-box">
        <div class="form-group">
          <label>Question type</label>
          <select name="question-type">
            <option value="multiple">Multiple Choices</option>
            <option value="open">Open Answers</option>
          </select>
        </div>
        
        <div class="form-group">
          <label>Question</label>
          <input type="text" placeholder="Type your question..." />
        </div>
        
        <button type="button" class="btn btn-main">Add Question</button>
        <br /><br />
        <button type="submit" class="btn btn-primary">Save Quiz</button>
      </form>
    </main>
    {% endblock %}