{% extends "layout.html" %} 
{% block content %}
<main>
  <h1 class="page-title">Explore Quizzes</h1>

  <div class="explore-controls">
    <input type="search" placeholder="Search quizzes..." />

    <select name="category">
      <option value="" selected>All Categories</option>
      {% for category in categories %}
          <option value="{{category}}">{{category}}</option>
      {% endfor %}
    </select>

    <select name="filters">
      <option value="recent">Most Recent</option>
      <option value="popular">Most Popular</option>
    </select>
  </div>

  <div class="quiz-list">
  {% for quiz in quizzes %} 
    <div class="quiz-container">
      <div class="quiz-image">
        <img src="{{quiz.image}}" alt="Quiz Image">
      </div>
      <div class="quiz-info">
        <h2>{{quiz.title}}</h2>
        <p>{{quiz.description}}</p>
      </div>
      <div class="quiz-action">
        <a href="{{url_for('quiz_layout', id=quiz.id)}}"><button class="btn btn-solve">Solve Quiz</button></a>
      </div>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock %}
