   {% extends "layout.html" %}

   {% block content %}
    <main>
        <h1>Create, share and solve quizzes!</h1>
        <p class="main-p">Create and play quizzes on any topic.</p>
        <a href="{{url_for('explore')}}"><button class="btn-main">Explore Quizzes</button></a>
        <a href="{{url_for('create')}}"><button class="btn-create">Create Quiz</button></a>
    </main>
    <section>
        <h2>Popular Quizzes</h2>
        <div class="quiz-card">
            <img src="/assets/quiz_img/bandeira do brasil.jpg" alt="Bandeira Brasil">
            <h3 class="title">História do Brasil</h3>
            <p class="question-number">10 perguntas</p>
            <button class="btn-resolve">Resolver Quiz</button>
        </div>
        <div class="quiz-card">
            <img src="/assets/quiz_img/progamacao.jpg" alt="">
            <h3 class="title">Trivia de Programação</h3>
            <p class="question-number">12 perguntas</p>
            <button class="btn-resolve">Resolver Quiz</button>
        </div>
        <div class="quiz-card">
            <img src="/assets/quiz_img/Cinema.jpg" alt="">
            <h3 class="title">Curiosidades de Cinema</h3>
            <p class="question-number">8 perguntas</p>
            <button class="btn-resolve">Resolver Quiz</button>
        </div>
    </section>
{% endblock %}