   {% extends "layout.html" %}

   {% block content %}
    <main>
        <h1>Create, share and solve quizzes!</h1>
        <p class="main-p">Create and play quizzes on any topic.</p>
        <a href="{{url_for('explore')}}"><button class="btn-main">Explore Quizzes</button></a>
        <a href="{{url_for('create')}}"><button class="btn-create">Create Quiz</button></a>
    </main>
    <section>
        <h2>Popular Quizzes</h2>
        <div class="quiz-card">
            <img src="/static/images/brazil-flag.jpg" alt="Bandeira Brasil">
            <h3 class="title">Brazil History</h3>
            <p class="question-number">Test your knowledge about Brazil history</p>
            <button class="btn-resolve">Solve Quiz</button>
        </div>
        <div class="quiz-card">
            <img src="/static/images/programing.jpg" alt="">
            <h3 class="title">Programing Trivia</h3>
            <p class="question-number">Do you know about programing?</p>
            <button class="btn-resolve">Solve Quiz</button>
        </div>
        <div class="quiz-card">
            <img src="/static/images/Cinema.jpg" alt="">
            <h3 class="title">Cinema Trivia</h3>
            <p class="question-number">How much do you know about cinema?</p>
            <button class="btn-resolve">Solve Quiz</button>
        </div>
    </section>
{% endblock %}