<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuizHub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{url_for('static', filename='QuizHub.ico')}}" type="image/x-icon">
</head>
<body>
     <nav>
    <a href="/"><img src="{{url_for('static', filename='images/QuizHub Logo Light.png')}}" alt="Logo" class="logo"></a>
            <ul>
                <li><a href="{{url_for('explore')}}">Explore Quizzes</a></li>
                <li><a href="{{url_for('create')}}">Create Quiz</a></li>
            </ul>
    </nav>
        {% block content %}
        {% endblock %}
    <footer>
        <h2 class="name-logo"><a href="https://github.com/JPedro-Santana" target="_blank">João Pedro Santana &copy; 2026</a></h2>
        <a href="https://github.com/JPedro-Santana/Quiz" target="_blank"><img src="/static/images/GitHub_Invertocat_White.png" alt="Github Logo" class="github-logo"></a>
    </footer>
</body>
</html>